<div class="container">



  <div id='ListPanel' class='panel panel-primary'>

    <div class='panel-heading'>

    <%= link_to new_user_list_path,class: "btn btn-default pull-right"  do %>
    <i class="fa fa-plus" style="color:black;" aria-hidden="true"></i>
    <%end%>
    <table>
    <tr>
   <td>
      <h1>My Lists</h1>
      </td>
 </tr>
  <tr>
   
       <%= form_tag user_lists_path, method: 'get', class: 'lists-search' do %>
          <td> <%= text_field_tag :search, params[:search], placeholder: "Find list", class: 'form-control text' %></td>
          <td>
          <%= submit_tag "Search", class: 'btn btn-default' %>
      <% end %>
      </td>
 </tr>
     
     </table>

    </div>
    <div class='panel-body'>
<%= will_paginate @lists, :previous_label => '<i class="fa fa-arrow-left" aria-hidden="true"></i>', :next_label => '<i class="fa fa-arrow-right" aria-hidden="true"></i>' %>
      <table class="table table-hover table-stripped">
        <thead>
          <tr>
            <th colspan="10"></th>
          </tr>
          <tr>
            <th> List Name</th>
            <th> Status</th>
            <th> Likes</th>
            <th> <%= sortable 'created_at', 'Created at' %></th> 
          </tr>
        </thead>
        <tbody>
          <% @lists.each do |list| %>
            <tr>
              <td><%= link_to list.name, (list.user == current_user) ? edit_user_list_path(id: list.id) : user_list_path(id: list.id) %> </td>
              <td><%= list.active ? "active": "inacative" %> </td>
              <td><%= list.votes_count || 0 %> </td>
              <td><%= list.created_at %> </td>
              <td>
                <% if current_user.likes?(list) %>
                  <%= link_to raw('<i class="fa fa-thumbs-up" style="color:black;"  aria-hidden="true"></i>') , user_list_vote_path(list_id: list.id), method: :delete,class: "btn btn-default"   %>
                <% end %>
                <% if !current_user.likes?(list) %>
                  <%= link_to raw('<i class="fa fa-thumbs-up" style="color:white;" aria-hidden="true"></i>'), user_list_vote_path(list_id: list.id), method: :post,class: "btn btn-primary" %>
                <% end %> 
              </td>
              <td><%= link_to raw('<i class="fa fa-times-circle"  aria-hidden="true"></i>'), user_list_path(id: list.id),class: "btn btn-primary", style: 'color:#FFFFFF;', method: :delete, data: { confirm: 'Are you sure?' } if list.user == current_user%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @lists, :previous_label => '<i class="fa fa-arrow-left" aria-hidden="true"></i>', :next_label => '<i class="fa fa-arrow-right" aria-hidden="true"></i>' %>
      </div>
  <br>
</div>


